In [173]:
import pandas as pd

In [174]:
positives_filepath = '/home/nubonix/PycharmProjects/detect_primes_with_ML/positives.txt'

In [175]:
negatives_filepath = '/home/nubonix/PycharmProjects/detect_primes_with_ML/negatives.txt'

In [176]:
df1 = pd.read_csv(positives_filepath, header=None, names=['integer'])

In [177]:
df1['integer'] = df1['integer'].astype(float)

In [178]:
df2 = pd.read_csv(negatives_filepath, header=None, names=['integer'])

In [179]:
df1['is_prime'], df2['is_prime'] = 1, 0

In [180]:
# df1['is_prime'] = df1['is_prime'].astype(bool)
# df2['is_prime'] = df2['is_prime'].astype(bool)

In [181]:
df = pd.concat([df1, df2])

In [182]:
df = df.sort_values(by=['integer'])

In [183]:
df.to_csv('../is_prime.csv', index=False)

In [28]:
import os; print(os.getcwd())

/home/nubonix/PycharmProjects/detect_primes_with_ML/testing

In [153]:
len(df2)

1299708

In [154]:
len(df1)

100000

In [155]:
df2['integer'].values[-1]

1299708.0

In [156]:
df1['integer'].values[-1]

1299709.0

In [157]:
df2 = pd.DataFrame({'integer' : range(1, int(df1['integer'].values[-1])), 'is_prime': 0})

In [158]:
df2['integer'] = df2['integer'].astype(float)

In [159]:
# df2['is_prime'] = df2['is_prime'].astype(bool)

In [160]:
df2

           integer  is_prime
0              1.0         0
1              2.0         0
2              3.0         0
3              4.0         0
4              5.0         0
...            ...       ...
1299703  1299704.0         0
1299704  1299705.0         0
1299705  1299706.0         0
1299706  1299707.0         0
1299707  1299708.0         0

[1299708 rows x 2 columns]

In [161]:
df3 = df2.update(df1)

In [162]:
df2.keys()

Index(['integer', 'is_prime'], dtype='object')

In [163]:
df1.keys()

Index(['integer', 'is_prime'], dtype='object')

In [164]:
df2.dtypes

integer     float64
is_prime    float64
dtype: object

In [165]:
df2.dtypes

integer     float64
is_prime    float64
dtype: object

In [166]:
df3

In [167]:
df3 = pd.concat([df1, df2]).drop_duplicates(['integer'],keep='last')

In [170]:
df3['is_prime'] = df3['is_prime'].astype(int)

In [171]:
df3

           integer  is_prime
0              2.0         1
1              3.0         1
2              5.0         1
3              7.0         1
4             11.0         1
...            ...       ...
1299703  1299704.0         0
1299704  1299705.0         0
1299705  1299706.0         0
1299706  1299707.0         0
1299707  1299708.0         0

[1209301 rows x 2 columns]

In [172]:
df3.to_csv('../is_prime.csv', index=False)