In [12]:
import pandas as pd

In [108]:
positives_filepath = '/home/nubonix/PycharmProjects/detect_primes_with_ML/positives.txt'

In [109]:
negatives_filepath = '/home/nubonix/PycharmProjects/detect_primes_with_ML/negatives.txt'

In [110]:
df1 = pd.read_csv(positives_filepath, header=None, names=['integer'])

In [111]:
df1['integer'] = df1['integer'].astype(float)

In [112]:
df2 = pd.read_csv(negatives_filepath, header=None, names=['integer'])

In [113]:
df1['is_prime'], df2['is_prime'] = 1, 0

In [114]:
df1['is_prime'] = df1['is_prime'].astype(bool)
df2['is_prime'] = df2['is_prime'].astype(bool)

In [24]:
df = pd.concat([df1, df2])

In [115]:
df = df.sort_values(by=['integer'])

In [26]:
df.to_csv('is_prime.csv', index=False)

In [28]:
import os; print(os.getcwd())

/home/nubonix/PycharmProjects/detect_primes_with_ML/testing

In [36]:
len(df2)

2650160

In [37]:
len(df1)

100000

In [42]:
df2['integer'].values[-1]

2750158

In [43]:
df1['integer'].values[-1]

1299709

In [116]:
df2 = pd.DataFrame({'integer' : range(1, int(df1['integer'].values[-1])), 'is_prime': 0})

In [118]:
df2['integer'] = df2['integer'].astype(float)

In [119]:
df2['is_prime'] = df2['is_prime'].astype(bool)

In [120]:
df2

           integer  is_prime
0              1.0     False
1              2.0     False
2              3.0     False
3              4.0     False
4              5.0     False
...            ...       ...
1299703  1299704.0     False
1299704  1299705.0     False
1299705  1299706.0     False
1299706  1299707.0     False
1299707  1299708.0     False

[1299708 rows x 2 columns]

In [124]:
df3 = df2.update(df1)

In [130]:
df2.keys()

Index(['integer', 'is_prime'], dtype='object')

In [136]:
df1.keys()

Index(['integer', 'is_prime'], dtype='object')

In [137]:
df2.dtypes

integer     float64
is_prime     object
dtype: object

In [138]:
df2.dtypes

integer     float64
is_prime     object
dtype: object

In [139]:
df3

In [144]:
df3 = pd.concat([df1, df2]).drop_duplicates(['integer'],keep='last')

In [145]:
df3

           integer is_prime
0              2.0     True
1              3.0     True
2              5.0     True
3              7.0     True
4             11.0     True
...            ...      ...
1299703  1299704.0    False
1299704  1299705.0    False
1299705  1299706.0    False
1299706  1299707.0    False
1299707  1299708.0    False

[1209301 rows x 2 columns]

In [ ]:
df3.to_csv('../is_prime.csv', index=False)